/* Column Widths */
.mat-column-action,
.mat-column-servicecode1,
.mat-column-servicecode2,
.mat-column-servicecode3,
.mat-column-servicecode4,
.mat-column-servicecode5,
.mat-column-servicecode6 {
  max-width: 64px;
  padding-right: 10px;
}

.mat-column-caseitem1,
.mat-column-caseitem2,
.mat-column-caseitem3,
.mat-column-caseitem4,
.mat-column-caseitem5,
.mat-column-caseitem6 {
  max-width: 100px;
  padding-right: 10px;
}

.mat-column-date {
  max-width: 100px;
  padding-right: 10px;
}

.main-div {

  overflow: hidden;
}

.heading {
  margin: 10px 10px 20px 10px;
}

.search-button {
  margin: 20px 5px 0 10px;
}

// .update-button{
//   margin: -100px 5px 0 10px;
// }
.update-button {
  margin: -50px 5px 0 10px;
}

.filter {
  margin: 0px 5px 0 10px;
}

.action-column {
  vertical-align: top;
  width: 10px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: -16px;
}

.redClass {
  background-color: red
}

.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.header-row {
  margin: 20px;
}

.mat-header-cell {

  font-size: 16px;
  font-weight: bold;
}
