<h3 class="heading">Case Pay Control</h3>

<div class="main-div">
  <div class="alert alert-danger" *ngIf="showError">
    {{ this.error }}
  </div>
  <div class="alert alert-success" *ngIf="dataSaved">
   {{ this.message }}
  </div>
  <div>

    <div class="provider" [formGroup]="providerForm">
      <div class="form-row align-items-center" >
        <div class="col-sm-2 my-1" >
          <mat-form-field ><input placeholder="Provider Type" moveNextByMaxLength maxlength="1" tabindex="1" formControlName="providerType" matInput  [(ngModel)]='providerType'></mat-form-field>
          <mat-error *ngIf="hasError('providerType', 'required')">Provider Type is required</mat-error>
        </div>
        <div class="col-sm-2 my-1">
          <mat-form-field ><input placeholder="Provider / Provider Group" moveNextByMaxLength maxlength="8" tabindex="2" formControlName="providerCode" matInput [(ngModel)]='providerCode'></mat-form-field>
          <mat-error *ngIf="hasError('providerCode', 'required')">Provider Code is required</mat-error>
        </div>
        <div class="col-sm-2 my-1">
          <mat-form-field >
            <input matInput placeholder="Case Payment Item"  formControlName="caseItem"  maxlength="5" tabindex="3"  [(ngModel)]='caseItem'>
          </mat-form-field>
          <mat-error *ngIf="hasError('caseItem', 'required')">Case Item is required</mat-error>
        </div>
        <div>
          <button mat-button (click)="performSearch()" mat-flat-button color="primary" class="button" >Search</button>
        </div>
      </div>
    </div>
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <mat-paginator [pageSize]="1" (page)="onPaginateChange($event)" class="paginator"></mat-paginator>
    <table mat-table [dataSource]="dataSource" class="mat-table">
      <ng-container matColumnDef="casepaycontrol">
      <th mat-header-cell *matHeaderCellDef class="table-header"> </th>
      <td *matCellDef="let element">
        <div class="form-row align-items-center" >
          <div class="col-sm-2 my-1" >
            <mat-form-field>
              <input matInput  placeholder="Date On:" moveNextByMaxLength  maxlength="8" tabindex="4" [(ngModel)]="element.DteOn" ng-pattern="/^(\d{2}|\d{1})\/(\d{2}|\d{1})\/\d{4}$/">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Date Off:" moveNextByMaxLength  maxlength="8" tabindex="5"[(ngModel)]="element.DteOff" ng-pattern="/^(\d{2}|\d{1})\/(\d{2}|\d{1})\/\d{4}$/">
            </mat-form-field>
          </div>

          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Days PTS:" moveNextByMaxLength  maxlength="3" tabindex="6" [(ngModel)]="element.PtsDays" type="number">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Case Ind:" moveNextByMaxLength  maxlength="1" tabindex="7" [(ngModel)]="element.CaseStartInd">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Grp Code:" moveNextByMaxLength  maxlength="6" tabindex="8" [(ngModel)]="element.CaseItemGroup">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Total Case Payment Amt:" moveNextByMaxLength maxlength="10" tabindex="9" [(ngModel)]="element.CasePayAmount" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Target LOS:" moveNextByMaxLength  maxlength="6" tabindex="10" [(ngModel)]="element.TargetLos" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
            </mat-form-field>
          </div>
        </div>
        <div class="sub-heading">Outlier Days</div>
        <div class="form-row align-items-center">
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Long Stay:" moveNextByMaxLength  maxlength="3" tabindex="11" [(ngModel)]="element.LongStayDays" type="number">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="12" [(ngModel)]="element.LongStayRate" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Short Stay:" moveNextByMaxLength  maxlength="3" tabindex="13" [(ngModel)]="element.ShortStayDays" type="number">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Per Diem:" moveNextByMaxLength  maxlength="1" tabindex="14" [(ngModel)]="element.PerDiemInd">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="15" [(ngModel)]="element.ShortStayRate" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
            </mat-form-field>
          </div>
        </div>

        <div class="sub-heading">ICU Outlier</div>

          <div class="form-row align-items-center">
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Long Stay:" moveNextByMaxLength  maxlength="1" tabindex="16" [(ngModel)]="element.IcuDays" type="number">
              </mat-form-field>
            </div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="17"[(ngModel)]="element.IcuRate1" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
              </mat-form-field>
            </div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Service Type:" moveNextByMaxLength  maxlength="1" tabindex="18" [(ngModel)]="element.IcuServCode1">
              </mat-form-field>
            </div>
          </div>

          <div class="form-row align-items-center">
            <div class="col-sm-2 my-1"></div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="19" [(ngModel)]="element.IcuRate2" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
              </mat-form-field>
            </div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Service Type:" moveNextByMaxLength  maxlength="1" tabindex="20" [(ngModel)]="element.IcuServCode2">
              </mat-form-field>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-sm-2 my-1"></div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="21" [(ngModel)]="element.IcuRate3" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
              </mat-form-field>
            </div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Service Type:" moveNextByMaxLength  maxlength="1" tabindex="22" [(ngModel)]="element.IcuServCode3">
              </mat-form-field>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col-sm-2 my-1"></div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Rate:" moveNextByMaxLength  maxlength="8" tabindex="23" [(ngModel)]="element.IcuRate4" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
              </mat-form-field>
            </div>
            <div class="col-sm-2 my-1">
              <mat-form-field>
                <input matInput  placeholder="Service Type:" moveNextByMaxLength  maxlength="1" tabindex="24" [(ngModel)]="element.IcuServCode4">
              </mat-form-field>
            </div>
          </div>

        <div class="form-row align-items-center">
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Max ICU Stay:" moveNextByMaxLength   maxlength="3" tabindex="25" [(ngModel)]="element.MaxIcuDays" type="number">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Per Diem Y:" moveNextByMaxLength   maxlength="1" tabindex="26" [(ngModel)]="element.IcuPerDiemInd">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Private Room Add On:" moveNextByMaxLength   maxlength="6" tabindex="27" [(ngModel)]="element.PrivAddOnRate" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
            </mat-form-field>
          </div>
          <div class="col-sm-2 my-1">
            <mat-form-field>
              <input matInput  placeholder="Private Room Option:" moveNextByMaxLength   maxlength="1" tabindex="28" [(ngModel)]="element.PrivAddOnInd" type="number">
            </mat-form-field>
          </div>
        </div>
       </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="header-row"></tr>
    </table>
    <div class="bottom-panel">
      <button mat-button (click)="pushNewRow()" [disabled]="newRowAdded" mat-flat-button color="primary" class="button" *ngIf="searchPerformed">Add New Row</button>
      <button mat-button (click)="updateRowData()" mat-flat-button color="accent" class="button" *ngIf="searchPerformed && !newRowAdded && (this.dataSource != null && this.dataSource.data.length)">Update</button>
      <button mat-button (click)="deleteRowData()" mat-flat-button color="accent" class="button" *ngIf="searchPerformed && !newRowAdded && (this.dataSource != null && this.dataSource.data.length)">Delete</button>
      <button mat-button (click)="saveNewRowData()" mat-flat-button color="primary" class="button" *ngIf="newRowAdded && (this.dataSource != null && this.dataSource.data.length)">Save</button>
      <button mat-button (click)="deleteNewRow()" mat-flat-button color="accent" class="button" *ngIf="newRowAdded && (this.dataSource != null && this.dataSource.data.length)">Cancel</button>

    </div>

  </div>
</div>

