<h3 class="heading">Prosthesis Mapping</h3>

<div class="main-div"></div>
  <div class="filter" [formGroup]="filterForm">
    <div class="form-row align-items-center" >
      <div class="col-sm-2 my-1" >
        <mat-form-field><input placeholder="Item Code" tabindex="1"  type="text" formControlName="itemCode" matInput maxlength="80" [(ngModel)]='itemCode'></mat-form-field>
        <mat-error *ngIf="hasError('itemCode', 'required')">Item Code is required</mat-error>
      </div>
      <div>
        <button mat-button mat-flat-button color="primary" style="margin-top: -5px;" class="search-button" (click)="searchMappingByItemCode()">Filter</button>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="showError">
      {{ this.error }}
   </div>
   <div class="alert alert-success" *ngIf="showMessage">
      {{ this.successMessage }}
   </div>
   <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <br/><br/>
  <br/><br/><br/>
  <table mat-table [dataSource]="dataSource" *ngIf="this.dataSource != null && this.dataSource.data.length" #mytable class="my-table mat-elevation-z8" class="table" >

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="On"><input  matInput tabindex="{{(17 * (i + 1)) + 1}}"  maxlength="1" [(ngModel)]="element.Action" moveNextByMaxLength></mat-form-field> <br/>
      </td>
    </ng-container>
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-form-field appearance="outline" floatLabel="always">
          <input matInput disabled type="text"  [(ngModel)]="element.Description">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="ItemCode">
      <th mat-header-cell *matHeaderCellDef> Item Code </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="On"><input  matInput tabindex="{{(17 * (i + 1)) + 1}}"  maxlength="8" [(ngModel)]="element.ItemCode"></mat-form-field> <br/>
      </td>
    </ng-container>
    <ng-container matColumnDef="Speciality">
      <th mat-header-cell *matHeaderCellDef> Speciality </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="On"><input  matInput disabled tabindex="{{(17 * (i + 1)) + 1}}"  maxlength="8" [(ngModel)]="element.Speciality"></mat-form-field> <br/>
      </td>
    </ng-container>
   <ng-container matColumnDef="DateOn">
      <th mat-header-cell *matHeaderCellDef> Date On </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="On"><input  matInput tabindex="{{(17 * (i + 1)) + 1}}"  maxlength="8" [(ngModel)]="element.DateOn"></mat-form-field> <br/>   </td>
    </ng-container>
    <ng-container matColumnDef="DateOff">
      <th mat-header-cell *matHeaderCellDef> Date Off </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="Off"><input matInput tabindex="{{(17 * (i + 1)) + 9}}"  maxlength="8" [(ngModel)]="element.DateOff"></mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="Lst_Upd_UserId">
      <th mat-header-cell *matHeaderCellDef> Last Updated By </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="Off"><input matInput disabled tabindex="{{(17 * (i + 1)) + 9}}"  maxlength="8" [(ngModel)]="element.Lst_Upd_UserID"></mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="Lst_Upd_Timestamp">
      <th mat-header-cell *matHeaderCellDef> Last Updated </th>
      <td mat-cell *matCellDef="let element; let i = index" >
        <mat-form-field appearance="outline" placeholder="Off"><input matInput disabled tabindex="{{(17 * (i + 1)) + 9}}"  maxlength="8" [(ngModel)]="element.Lst_Upd_TimeStamp"></mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="header-row"></tr>
  </table>
 <div class="form-row align-items-left" >
  <div class="col-sm-6 my-1" >
    <button mat-button *ngIf="this.dataSource != null && this.dataSource.data.length" mat-flat-button color="accent" class="update-button" (click)="updateRowData()">Update</button>
    <button mat-button *ngIf="this.dataSource != null && this.dataSource.data.length" mat-flat-button color="accent" class="update-button" (click)="resetPageDataSource()">Refresh</button>
  </div>
  <div class="col-sm-6 my-1" > <mat-paginator [pageSizeOptions]="[1, 2, 4, 8, 16, 32]" [pageSize]="4"></mat-paginator></div>
 </div>


